body {
  background-color: white;
}

.App {
  display: grid;
  grid-template-columns: 1fr 40em 40em 1fr auto;
  grid-template-rows: 3fr auto;
  background-color: white;
}

.App-header {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}

nav {
  top: 11%;
  margin-bottom: 2em;
  background-color: black;
  padding: 2em;
}

nav a {
  margin: 3.5em;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.content {
  grid-column: 2/4;
  grid-row: 2/3;
}
.footer {
  grid-column: 1/5;
  grid-row: 3/4;
}
